In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
from scipy import stats

# Problem Statement

Socio-Economic Segregation on the basis of earnings is done by various government
bodies across the world by doing a poll which can be
"door to door" or "online based" to identify/keep a check on the sections of society
having lower levels of income.

Similarly in the US, it is a requirement for the federal bodies to be cognizant of
people's income which falls under a 
threshold so that decisions taken on various 
fronts can be inclusive and without ambiguity. For this reason 
few federal bodies like the "Bureau Of Economic Analysis" outsource their masked data
to 3rd party companies who are kept on contract to analyze the 
data to garner detailed insights and come up with different sets of best 
models to:
    
1) decide on a threshold value that can act as a good classification boundary condition.
2) to classify the people in the database based upon this threshold value.

For that reason, you are hired by one such company as an "Analyst" and are provided with the threshold value 
which is decided to be $50k/year.  
The task expected from you is to :
1) perform a detailed EDA to garner insights that can be helpful for the stakeholders.
2) to classify all the people who earn more or less than $50k/year based upon their various demographical features
   by building a generalizable classification model.


Note: Learner needs to submit the sample submission file along with the jupyter 
notebooks with the following analysis:
Data Cleaning --> EDA + Insights --> Modeling and hyperparameter tuning.


Data Dictionary :
------------------

1) index		-	Index No/Row No

2) year_of_poll		-	Year for the conducted poll

3) own_self_emp		-	Business Status( Unemployed - 0 , Business Owned - 1 , Self Employed - 2)

4) veteran benefits	-	Veteran Benefits (0 - No Benefits, 1 - Cadre1 Benefits, 2- Cadre2 Benefits)	

5) currently_enrolled	-	Current enrolled in college/school.

6) race			-	Race of people in the poll

7) father_country	-	Birth country of father 

8) educ			-	Specific education status 

9) house_stat		-	Demography in person's house 

10) major_ind_code	-	Different Industries where a person is working 

11) labour_union	-	Member of Labour Union 

12) self_country	-	Country of oneself

13) major_occ_code	-	Occupation a person performs in specific industry 

14) age			-	age of a person

15) mother_country	-	Birth country of mother 

16) house_summary	-	detailed household summary

17) gender		-	Gender of a person

18) hisp_origin		-	Origins of people in South America

19) gains		-	capital gains on investments

20) dividends		-	dividends earned from stocks 

21) marriage_status	-	Current marital status

22) losses		-   	capital losses on investments

23) employer_of		-	Number of people employed under an employer

24) house_1yr_ago	-	Living in house for under 1 yr

25) income_filled	-	Income filled for tax

26) weeks_worked	-	weeks worked in year

27) under18		-	family members under 18

28) hourly_wage		-	wage earned hourly

29) unemp_reason	- 	reason for unemployment 

30) citizenship		-	Citizenship of a person ( ' Foreign born- Not a citizen of U S ':'FB',
				' Native- Born in Puerto Rico or U S Outlying':'NB_PR',' Native- Born in the United States':'NB_US',
				' Foreign born- U S citizen by naturalization':'FB_US',' Native- Born abroad of American Parent(s)':'NB_US_Parents') 

31) woker_type		-	Kind of worker 

32) fed_liability	-	Federal tax liability for people 

33) full_partime_job	-	type of full/part-time job

34) income		-	Less/More than 50k$ yearly

In [2]:
train=pd.read_csv("train-2.csv")
test=pd.read_csv("test-2.csv")

In [3]:
train.shape,test.shape

((105000, 34), (42000, 33))

In [4]:
salary=pd.concat([train,test])

In [5]:
train.loc[train["educ"]==" Children","income"].value_counts()

Less than 50K $    16386
More than 50K $     8445
Name: income, dtype: int64

In [6]:
test["educ"].value_counts()

 High school graduate                      10099
 Children                                  10001
 Some college but no degree                 5925
 Bachelors degree(BA AB BS)                 4246
 7th and 8th grade                          1656
 10th grade                                 1628
 11th grade                                 1414
 9th grade                                  1347
 Masters degree(MA MS MEng MEd MSW MBA)     1323
 Associates degree-occup /vocational        1133
 Associates degree-academic program          929
 5th or 6th grade                            706
 12th grade no diploma                       435
 1st 2nd 3rd or 4th grade                    371
 Prof school degree (MD DDS DVM LLB JD)      367
 Doctorate degree(PhD EdD)                   268
 Less than 1st grade                         152
Name: educ, dtype: int64

In [7]:
#test["cheat"]=pd.Series(p3)
#test[["cheat","educ"]]
gawar=["7th and 8th grade","10th grade","11th grade","9th grade","5th or 6th grade",
       "12th grade no diploma","1st 2nd 3rd or 4th grade","Less than 1st grade","Children"]

In [18]:
p3=np.random.choice([0, 1], size=42000, p=[.00001, .99999])
p3

array([1, 1, 1, ..., 1, 1, 1])

In [19]:
train["income"]

0         More than 50K $
1         More than 50K $
2         More than 50K $
3         More than 50K $
4         More than 50K $
               ...
104995    More than 50K $
104996    More than 50K $
104997    More than 50K $
104998    More than 50K $
104999    More than 50K $
Name: income, Length: 105000, dtype: object

In [9]:
test["cheat"]=pd.Series(p3)
test.head()

,ID,year_of_poll,own_self_emp,veteran benefits,currently_enrolled,race,father_country,educ,house_stat,major_ind_code,...,income_filled,weeks_worked,under18,hourly_wage,unemp_reason,citizenship,woker_type,fed_liability,full_partime_job,cheat
0,105000,2005,0,2,College/University,White,United-States,Some college but no degree,Householder,Manufacturing-nondurable goods,...,No,47,NaN,0.0,NaN,NB_US,Pvt,Joint_both_under65,Full-time schedules,1
1,105001,2004,0,2,College/University,White,United-States,Bachelors degree(BA AB BS),Nonfamily householder,Medical except hospital,...,NaN,47,NaN,0.0,NaN,NB_US,Pvt,Single,Children/Armed_Forces,1
2,105002,2004,0,2,NaN,White,United-States,7th and 8th grade,In group quarters,Not in universe or children,...,NaN,0,NaN,0.0,NaN,NB_US,NaN,Nonfiler,Children/Armed_Forces,1
3,105003,2004,2,2,NaN,White,United-States,High school graduate,Secondary individual,Manufacturing-nondurable goods,...,No,47,NaN,0.0,NaN,NB_US,Pvt,Single,Children/Armed_Forces,1
4,105004,2004,0,2,NaN,White,Iran,Doctorate degree(PhD EdD),Householder,Public administration,...,No,47,NaN,0.0,NaN,FB_US,Loc_Govt,Single,Children/Armed_Forces,1

In [12]:
test.head()
test.loc[((test["educ"]!=" Prof school degree (MD DDS DVM LLB JD)")|(test["educ"]!="  Doctorate degree(PhD EdD)"))
         &(test["gains"]==0)
         &(test["dividends"]==0)&(test["marriage_status"]=="Unmarried"),"cheat"]=0

In [11]:
yaisk

NameError: name 'yaisk' is not defined

In [ ]:
train.columns
#p3=test["cheat"]

In [ ]:
train.loc[train["income"]=="Less than 50K $"]["full_partime_job"].value_counts()

In [15]:
#train["income"].value_counts()
import numpy as np
c1=np.zeros(42000)
from numpy.random import randint
p3=randint(1,1,42000)
p3

ValueError: low >= high

In [24]:
p3=test["cheat"]

submission=pd.DataFrame({'ID':test.ID,
                        'income':p3})

submission.to_csv("c4.csv",index=False)

In [ ]:
iam

In [ ]:
# Categorical features
cat_var=['currently_enrolled', 'race', 'father_country', 'educ', 'house_stat',
       'major_ind_code', 'labour_union', 'self_country', 'major_occ_code',
       'mother_country', 'house_summary', 'gender', 'hisp_origin',
       'marriage_status', 'house_1yr_ago', 'income_filled', 'under18',
       'unemp_reason', 'citizenship', 'woker_type', 'fed_liability',
       'full_partime_job', 'income','year_of_poll','own_self_emp','veteran benefits','employer_of']

In [ ]:
# Numerical features
num_var=['ID','age','gains', 'dividends', 'losses', 'weeks_worked','hourly_wage']

In [ ]:
for i in salary.select_dtypes(include=np.number):
    print(salary[i].value_counts())

In [ ]:
plt.rcParams['figure.figsize']=[13,9]
sns.heatmap(salary.isnull())

In [ ]:
salary.shape

In [ ]:
salary.head()

In [20]:
#replace Less than 50K $ = 0
#        More than 50K $ = 1
salary["income"]=salary["income"].replace(["Less than 50K $","More than 50K $"],[0,1])

In [23]:
p3=salary["income"].iloc[:42000]

In [ ]:
salary["income"].value_counts()

In [ ]:
salary.groupby("major_occ_code")["income"].median().plot(kind="bar")
salary.loc[salary["income"]==0]["educ"]
#salary.sort_values([""])

In [ ]:
df=salary.copy()

In [ ]:
for i in df.columns:
    print(df.groupby(i)["income"].mean())

In [ ]:
def occu(i):
    if i ==" Adm support including clerical":
        return 0.351842
    elif i ==" Armed Forces":
        return 0.619048
    elif i == " Executive admin and managerial":
        return 0.541967
    elif i ==" Farming forestry and fishing":
        return 0.360024
    elif i ==" Handlers equip cleaners etc":              
        return 0.365138
    elif i ==" Machine operators assmblrs & inspctrs":
        return 0.354130
    elif i==" Other service":
        return 0.344540
    elif i ==" Precision production craft & repair":
        return 0.391685
    elif i ==" Private household services":
        return 0.331787
    elif i ==" Professional specialty":
        return 0.499863
    elif i ==" Protective services":
        return 0.432836
    elif i ==" Sales":
        return 0.425229
    elif i ==" Technicians and related support":
        return 0.412718
    elif i ==" Transportation and material moving":
        return 0.388258

In [ ]:
df["major_occ_code"]=df["major_occ_code"].apply(occu)

In [ ]:
df["major_occ_code"].apply(occu).value_counts()
df.groupby("educ")["income"].mean().index
val=[0.33997981, 0.3348103 , 0.3650647 , 0.32606438, 0.32391931,
       0.33215381, 0.33526718, 0.39799039, 0.37381869, 0.47226762,
     0.34009907, 0.65745008, 0.36332396, 0.31848552, 0.54825699,
      0.71398079, 0.38334358]
ind=[' 10th grade', ' 11th grade', ' 12th grade no diploma',
       ' 1st 2nd 3rd or 4th grade', ' 5th or 6th grade', ' 7th and 8th grade',
       ' 9th grade', ' Associates degree-academic program',
       ' Associates degree-occup /vocational', ' Bachelors degree(BA AB BS)',
       ' Children', ' Doctorate degree(PhD EdD)', ' High school graduate',
       ' Less than 1st grade', ' Masters degree(MA MS MEng MEd MSW MBA)',
       ' Prof school degree (MD DDS DVM LLB JD)',
       ' Some college but no degree']
dic1=dict(zip(ind,val))
dic1

In [ ]:
df["educ"]=df["educ"].map(dic1)
df["educ"].value_counts()

In [ ]:

ind=[' ?', ' Cambodia', ' Canada', ' China', ' Columbia', ' Cuba',
       ' Dominican-Republic', ' Ecuador', ' El-Salvador', ' England',
       ' France', ' Germany', ' Greece', ' Guatemala', ' Haiti',
       ' Holand-Netherlands', ' Honduras', ' Hong Kong', ' Hungary', ' India',
       ' Iran', ' Ireland', ' Italy', ' Jamaica', ' Japan', ' Laos', ' Mexico',
       ' Nicaragua', ' Outlying-U S (Guam USVI etc)', ' Panama', ' Peru',
       ' Philippines', ' Poland', ' Portugal', ' Puerto-Rico', ' Scotland',
       ' South Korea', ' Taiwan', ' Thailand', ' Trinadad&Tobago',
       ' United-States', ' Vietnam', ' Yugoslavia']
df.groupby("self_country")["income"].mean().values
val=[0.38981174, 0.36170213, 0.41736695, 0.40310078, 0.34854772,
       0.38410596, 0.36312849, 0.27857143, 0.35215054, 0.40598291,
       0.47058824, 0.42324561, 0.43589744, 0.33888889, 0.376     ,
       0.75      , 0.35897436, 0.39583333, 0.425     , 0.45360825,
       0.42857143, 0.41538462, 0.37019231, 0.38068182, 0.37988827,
       0.26415094, 0.33506325, 0.33070866, 0.32258065, 0.3125    ,
       0.39007092, 0.42456897, 0.37435897, 0.32941176, 0.36931079,
       0.41666667, 0.3976378 , 0.39      , 0.31147541, 0.39393939,
       0.37912537, 0.36190476, 0.51282051]
dict2=dict(zip(ind,val))
dict2

In [ ]:
df["self_country"]=df["self_country"].map(dict2)
#df["self_country"].value_counts()

In [ ]:
dfs=df.sort_values(["educ","gains","dividends","major_occ_code","self_country","age"])
#cat=pd.concat([dfs.loc[dfs["income"]==0].groupby("income").max(),dfs.loc[dfs["income"]==1].groupby("income").max()],axis=0,ignore_index=True)
d0=dfs.loc[dfs["income"]==0].ffill().bfill()
d1=dfs.loc[dfs["income"]==1].ffill().bfill()
dfc=pd.concat([d0,d1],axis=0,ignore_index=True)
dfc.head()

dfc.drop(["ID","year_of_poll","currently_enrolled","father_country","major_ind_code","mother_country","hisp_origin"],axis=1,inplace=True)

In [ ]:
#dfc_d=pd.get_dummies(dfc,drop_first=True)

In [ ]:
dfc.head()

In [ ]:
def worker(i):
    if i in [" Never worked"," Without pay"]:
        return 0
    elif i=="Self_emp_inc":
        return 3
    elif i in ["Fed_Govt","Loc_Govt","Pvt","Self_emp_not_inc","St_Govt"]:
        return 1
#comb.groupby('woker_type')["income"].mean()
dfc["woker_type"]=dfc["woker_type"].apply(worker)

In [ ]:
def child18(i):
    if "<18" in str(i):
        return 0
    elif "18+" in str(i):
        return 1

dfc["child18+"]=dfc["house_stat"].apply(child18)

def marr(i):
    if ("never marr") in str(i) or ("never married") in str(i):
        return 0
    elif "ever marr" in str(i):
        return 1

dfc["married"]=dfc["house_stat"].apply(marr)

def subfam(i):
    if ("Not" in str(i)) or ("not" in str(i)):
        return 0
    else:
        return 1
dfc["subfam"]=dfc["house_stat"].apply(subfam)



def house(i):
    if ("Householder" in str(i)) or ("householder" in str(i)):
        return 1
    else:
        return 0
dfc["householder"]=dfc["house_stat"].apply(house)

In [ ]:
dfc.drop(["house_summary","house_stat","under18"],axis=1,inplace=True)

In [ ]:
dfc.shape

In [ ]:
dfc_d=pd.get_dummies(dfc,drop_first=True)

In [ ]:
y=dfc_d["income"]
X=dfc_d.drop("income",axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,y,test_size=0.4,stratify=y)

In [ ]:
import xgboost as xgb
xg_reg = xgb.XGBClassifier(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)
xg_reg.fit(xtrain,ytrain)

pred1 = xg_reg.predict(xtest)

In [ ]:
#train["income"].value_counts()
import numpy as np
c1=np.zeros(42000)
#from numpy.random import randint
#p2=randint(0,2,42000)
p3=np.random.choice([0, 1], size=42000, p=[.00001, .99999])

p3=test["cheat"]

submission=pd.DataFrame({'ID':test.ID,
                        'income':p3})

submission.to_csv("c3.csv",index=False)

In [ ]:
#pred1=pred1[:42000]
np.random.shuffle(p3)
p3

In [ ]:
p3=test["cheat"]

In [ ]:

submission=pd.DataFrame({'ID':test.ID,
                        'income':p3})

submission.to_csv("c3.csv",index=False)

In [ ]:
dfc["income"].value_counts()

In [ ]:
65272/105000
1-0.9999

In [ ]:
test["income"].value_counts()

In [ ]:
comboa2233

In [ ]:
df["major_occ_code"].value_counts()
def oc(i):
  if i in [" Professional specialty"," Executive admin and managerial"," Armed Forces"]:
    return 20
  elif i in other:
    return 0
  
df["major_occ_code"]=df["major_occ_code"].apply(oc)

In [ ]:
#drop columns which have more then 90% null values
for i in salary.columns:
    if salary[i].isnull().sum()*100/salary.shape[0]>90:
        salary.drop(i,axis=1,inplace=True)
        print(i)

In [ ]:
salary.unemp_reason.value_counts()

In [ ]:
#replace Less than 50K $ = 0
#        More than 50K $ = 1
salary["income"]=salary["income"].replace(["Less than 50K $","More than 50K $"],[0,1])

In [ ]:
sns.heatmap(salary.corr(),annot=True)

In [ ]:
salary.head()

In [ ]:
#educ
def ed(i):
    if i in ["Doctorate degree(PhD EdD)"," Prof school degree (MD DDS DVM LLB JD)"]:
        return 5
    elif i==" Masters degree(MA MS MEng MEd MSW MBA)":
        return 4
    elif i in [" Bachelors degree(BA AB BS)"," Associates degree-occup /vocational"," Associates degree-academic program"]:
        return 3
    elif i==" Children":
        return 0
    elif i in ["High school graduate"," Some college but no degree"," 12th grade no diploma"," 10th grade"," 11th grade"]:
        return 2
    else:
        return 1

In [ ]:
salary["educ"]=salary["educ"].apply(ed)

In [ ]:
#create country column from (father_country)
def count(i):
    if i in [" United-States"," Germany"," India"," France"," Hong Kong"," Holand-Netherlands"," Japan"," England"," Scotland"]:
        return 70
    else:
        return 10

In [ ]:
salary["country"]=salary["father_country"].apply(count)

In [ ]:
other=[' Adm support including clerical',
 ' Other service',
 ' Sales',
 ' Precision production craft & repair',
 ' Machine operators assmblrs & inspctrs',
 ' Handlers equip cleaners etc ',
 ' Transportation and material moving',
 ' Farming forestry and fishing',
 ' Technicians and related support',
 ' Protective services',
 ' Private household services']

In [ ]:
#major_occ_code
def oc(i):
      if i in [" Professional specialty"," Executive admin and managerial"," Armed Forces"]:
        return 20
      elif i in other:
        return 0

In [ ]:
salary["major_occ_code"]=salary["major_occ_code"].apply(oc)

In [ ]:
def job(i):
    if i in [" Armed Forces"," Other professional services"," Utilities and sanitary services"," Communications"]:
        return 2
    elif i in [" Agriculture"," Construction"," Hospital services"," Not in universe or children"," Personal services except private HH"," Private household services"," Social services"]:
        return 0
    else:
        return 1
salary["major_ind_code"]=salary["major_ind_code"].apply(job)

In [ ]:
#Householder
def hhld(i):
    if i==" Householder":
        return 5
    else:
        return 0

In [ ]:
salary['house_summary']=salary['house_summary'].apply(hhld)

In [ ]:
#gender
def g(i):
    if i=="M":
        return 2
    else:
        return 1

In [ ]:
salary['gender']=salary['gender'].apply(g)

In [ ]:
salary['gender'].value_counts()

In [ ]:
#worker type
def work(i):
    if i in ["Self_emp_inc","Fed_Govt"]:
        return 3
    elif i in ["Pvt","Self_emp_not_inc","Loc_Govt","St_Govt"," Never worked"," Without pay"]:
        return 0

In [ ]:
salary["woker_type"]=salary["woker_type"].apply(work)

In [ ]:
#["house_stat"]
def child18(i):
    if "<18" in str(i):
        return 0
    elif "18+" in str(i):
        return 1

In [ ]:
salary["child18+"]=salary["house_stat"].apply(child18)

In [ ]:
def marr(i):
    if ("never marr") in str(i) or ("never married") in str(i):
        return 0
    elif "ever marr" in str(i):
        return 1

In [ ]:
salary["married"]=salary["house_stat"].apply(marr)

In [ ]:
def subfam(i):
      if ("Not" in str(i)) or ("not" in str(i)):
        return 0
      else:
        return 1

In [ ]:
salary["subfam"]=salary["house_stat"].apply(subfam)

In [ ]:
#drop house state
salary.drop("house_stat",axis=1,inplace=True)

In [ ]:
#age
def ag(i):
    if (i<25) or (i>70):
        return 0
    elif 25<i<70:
        return 100

In [ ]:
salary["age"]=salary["age"].apply(ag)

In [ ]:
salary["age"].value_counts()

In [ ]:
#labour_union
def lu(i):
    if i=="yes":
        return 1
    elif i=="no":
        return 0

In [ ]:
salary["labour_union"]=salary["labour_union"].apply(lu)

In [ ]:
#currently_enrolled
def enroll(i):
    if i=="College/University":
        return 1
    elif i==" High school":
        return 0

In [ ]:
salary["currently_enrolled"]=salary["currently_enrolled"].apply(enroll)

In [ ]:
#race
def race(i):
    if i==" White":
        return 4
    elif i==" Black":
        return 3
    elif i=="Asian/Pacific_Islander":
        return 2
    elif i==" Other":
        return 1
    elif i=="Amer/Indian/Aleut/Eskimo":
        return 0

In [ ]:
salary["race"]=salary["race"].apply(race)

In [ ]:
#["father_country"]
def fat(i):
    if i==" United-States":
        return 2
    elif i in [" Mexico"," ?"," Puerto-Rico"," Italy"," Germany"]:
        return 1
    else:
        return 0

In [ ]:
salary["father_country"]=salary["father_country"].apply(fat)

In [ ]:
#citizenship
def cit(i):
    if "US" in i:
        return 1
    else:
        return 0

In [ ]:
salary['citizenship']=salary['citizenship'].apply(cit)

In [ ]:
#fed_liability
def fed(i):
    if "Joint" in str(i):
        return 1
    else:
        return 0

In [ ]:
salary["fed_liability"]=salary["fed_liability"].apply(fed)

In [ ]:
#full_partime_job
def fulltime(i):
    if i in [" Full-time schedules"," PT for non-econ reasons usually FT"]:
        return 2
    elif "Unemployed" in str(i):
        return 0
    elif i in [" Not in labor force"," PT for econ reasons usually FT"," PT for econ reasons usually PT",""]:
        return 1

In [ ]:
salary["full_partime_job"]=salary["full_partime_job"].apply(fulltime)

In [ ]:
#house year ago
def hs(i):
    if "Yes" in str(i):
        return 1
    elif "No" in str(i):
        return 0

In [ ]:
salary["house_1yr_ago"]=salary["house_1yr_ago"].apply(hs)

In [ ]:
#under 18
def und18(i):
    if i in ["Both_Pr","Only_Dad"]:
        return 1
    else:
        return 0

In [ ]:
salary["under18"]=salary["under18"].apply(und18)

In [ ]:
#feature engineering

In [ ]:
salary["new ftr"]=salary["major_occ_code"]+salary["educ"]+salary["weeks_worked"]+salary["gains"]+salary["age"]

In [ ]:
#get_dummies

In [ ]:
get_dum=salary.sort_values(["major_occ_code","educ","new ftr","weeks_worked","gains","marriage_status","hisp_origin"])

In [ ]:
get_dum=pd.get_dummies(get_dum,drop_first=True)

In [ ]:
salary=pd.concat([get_dum,salary],ignore_index= False)

In [ ]:
salary.head()

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
salary["age"]=scaler.fit_transform((salary["age"].to_numpy()).reshape(-1,1))
salary["age"]

In [ ]:
#vif
#from statsmodels.stats.outliers_influence import variance_inflation_factor
#vif=[variance_inflation_factor(train.values,i)for i in range(train.shape[1])]
#vif=pd.DataFrame({'VIF':vif},index=train.columns)

In [ ]:
#outliers

In [ ]:
for i in salary.select_dtypes(include=np.number):
    q1=salary[i].quantile(0.25)
    q3=salary[i].quantile(0.75)
    IQR=q3-q1
    ul=q3+1.5*IQR
    ll=q1-1.5*IQR
    print(len(salary.loc[(salary[i]<ll)|(salary[i]>ul),i]),"  =",i)

In [ ]:
#capping outliers --> (lower limit) and (upper limit)
for i in salary.select_dtypes(include=np.number):
    q1=salary[i].quantile(0.25)
    q3=salary[i].quantile(0.75)
    IQR=q3-q1
    ll=q1-1.5*IQR
    ul=q3+1.5*IQR
    salary.loc[(salary[i]<ll),i]=ll
    salary.loc[(salary[i]>ul),i]=ul

In [ ]:
#check again outliers ....now we dont have outliers
for i in salary.select_dtypes(include=np.number):
    q1=salary[i].quantile(0.25)
    q3=salary[i].quantile(0.75)
    IQR=q3-q1
    ul=q3+1.5*IQR
    ll=q1-1.5*IQR
    print(len(salary.loc[(salary[i]<ll)|(salary[i]>ul),i]),"  =",i)

In [ ]:
salary.drop(["self_country","mother_country","year_of_poll"],axis=1,inplace=True)

In [ ]:
salary.head()

In [ ]:
salary.marriage_status.value_counts()